table.sh {
    border-collapse: collapse;
}

table.sh tr td {
 width:99px;
 height:99px;
 padding:0px;
 text-align: center;
 vertical-align: bottom;
}

table.sh tr td.vert {
	transform: rotate(90deg);
}

table.sh tr td.r-vert {
	transform: rotate(-90deg);
}

table.sh tr td.u-vert {
	transform: rotate(180deg);
}

table.sh tr td.bat {
	background-image:url("//ifa.thure.org/batt.png");
}

table.sh tr td.power {
	background-image:url("//ifa.thure.org/power.png");
}

table.sh tr td.l-d-corner {
	background-image:url("//ifa.thure.org/corner.png");
}

table.sh tr td.r-d-corner {
	background-image:url("//ifa.thure.org/corner.png");
    transform: rotate(90deg);
}

table.sh tr td.l-u-corner {
	background-image:url("//ifa.thure.org/corner.png");
    transform: rotate(180deg);
}

table.sh tr td.r-u-corner {
	background-image:url("//ifa.thure.org/corner.png");
    transform: rotate(270deg);
}

table.sh tr td.line {
	background-image:url("//ifa.thure.org/horiz.png");
}

table.sh tr td.resistor {
	background-image:url("//ifa.thure.org/resistor.png");
}

table.sh tr td.fuse {
	background-image:url("//ifa.thure.org/fuse.png");
}

table.sh tr td.breaker {
	background-image:url("//ifa.thure.org/breaker.png");
}

table.sh tr td.conn {
	background-image:url("//ifa.thure.org/connection.png");
}

table.sh tr td.lamp {
	background-image:url("//ifa.thure.org/lamp.png");
}

table.sh tr td.ohm {
	background-image:url("//ifa.thure.org/ohm.png");
}

table.sh tr td.volt {
	background-image:url("//ifa.thure.org/volt.png");
}

table.sh tr td.amp {
	background-image:url("//ifa.thure.org/amp.png");
}
